{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Welcome to Food Bear</title>
      <link rel="stylesheet" href="{% static 'css\navig.css' %}">
      <link rel="stylesheet" href="{% static 'css\buttons.css' %}">
      <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/sldng-dgnl.css' %}"> -->
      <link rel="stylesheet" type="text/css" href="{% static 'css\bootstrap.min.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script type="text/javascript" src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  </head>
  <body id="hmpg">
    <!-- Animated Background -->           
    <!-- <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div> -->
    <!-- Animated Background Ends -->  

    {% block nav %}
    {% endblock %}

    <!-- buttons -->
    <div class="container my-auto btns">
      <br>
      <h1 align="center" id="choose">Time to Munch!!</h1>
      <hr class="bg-dark">
        <br>
      <div class="row">
        <!-- <div class="col-8 mx-auto p-auto">
          <a href="#" id="hmpg-btns" class="btn btn-lg red mx-auto">Show all Food Items</a>
        </div> -->

        <div>
          <hr>
          <br>
          <br>
        </div>
        {% block button2 %}    
        {% endblock %}
      </div>
    </div>

    <!-- JavaScript and JQuery Files -->
    <script src="{% static 'js/vendor/jquery-slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">feather.replace()</script>
  </body>
</html>