{% load staticfiles %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href = "{% static 'css/dropdownbtn.css' %}" rel = "stylesheet">
    <link href = "{% static 'css/checkout-page.css' %}" rel = "stylesheet">
    <title>Checkout</title>
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/MyOrders.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sldng-dgnl.css' %}">
  </head>
  <body class="py-5">
    <!-- Animated Background -->           
  <!--   <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div> -->
    <!-- Animated Background Ends -->
    <header>
        <!-- Responsive Navbar -->
      <nav class="navbar navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">FoodBear</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="fb-homepage.html">
                  <i class="fa fa-home" data-feather="home"></i> Home<span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="align-middle" data-feather="user"></i> {{ username }}'s Dashboard </a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">My Orders</a>
                <!-- <a class="dropdown-item" href="#">Passbook</a> -->
              </div>
            </li>

            <li class="nav-item ">
                <a class="nav-item" href="/login"><i class="align-middle" data-feather="log-out"></i> Logout  </a>
              </li>
          </ul>
        
         <!--  <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 align-right mx-auto" type="submit">Search</button>
          </form>  -->
         
        </div>
      </nav> 
      <!-- end navbar -->
      </header>

    <main role="main">

        <h2>Shopping Cart</h2>

        <h3>{{ error }}</h3>

        {% for item, price, quant, cost in ordered_food %}
        <div id="item-card" class="card m-2 bg-light">
          <div id="item-row" class="d-table-row p-1">
            <div id="item-name" class="d-table-cell col-5 align-middle"><h4>{{ item }}</h4></div>
            <div id="item-price" class="d-table-cell col-3 align-middle"><h5>{{ quant }} * ${{ price }} = ${{ cost }}</h5></div>
          </div>
        </div>
      {% endfor %}



         
        <div class="totals">
          <div class="totals-item totals-item-total">  
            <label>Grand Total</label>
            <div class="totals-value" id="cart-total">${{ grand_total }}</div>
          </div>
        </div>


        <div class="row px-auto">
          <form method = "POST"> {% csrf_token %}
            <div class="row px-auto">
              <div class="col-10 mx-auto">
                <button type = 'submit' class="btn checkout delete btn-primary btn-lg btn-5">Checkout</button>
              </div>
            </div>
          </form>
        </div>

          <footer class="container">
                      <p class="float-right">
                          <a style="color: black" href="#">
                              <i class="align-middle" data-feather="chevrons-up">
                              </i> Back to top
                          </a>
                      </p>
                  </footer>

        </main>
        
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-slim.min.js" %}"><\/script>')</script>
    <script src="{% static 'js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'js/dropdownbtn.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/dynamic-vendor.js' %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static 'js/vendor/holder.min.js' %}"></script>
    <script>
        feather.replace()
    </script>

        </body>
</html>