{% extends 'base_html_page.html' %}

{% block nav %}

 <!-- Responsive Navbar -->
      <nav class="navbar navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">My Orders</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="fb-homepage.html">
                    <i class="align-middle" data-feather="home"></i> Home<span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
            
            <a class="nav-link" href="/aboutus"><i class="fas fa-smile"></i>About Us</a>

          </li>
            <li class="nav-item active">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User Dashboard </a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="/profile/{{ username }}">Profile</a>
                <a class="dropdown-item" href="/myorders/{{ username }}">My Orders</a>
                <a class="dropdown-item" href="#">Passbook</a>
              </div>
            </li>
            <li class="nav-item ">
                <a href="">{{ username }}</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#"><i class="align-middle" data-feather="log-out"></i> Logout  </a>
            </li>
          </ul>
        
          <!-- <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 align-right mx-auto" type="submit">Search</button>
          </form>  -->
       
        </div>
      </nav> 
      <!-- end navbar -->
{% endblock %}

{% block button2 %}
<div class="col-8 mx-auto">
<a href="/vendors" class="btn btn-sm animated-button thar-one">Show all Vendors</a>
</div>
{% endblock %}